<section>
  <h2 class="create-post">Create New Post</h2>

  <form class="new-post-form">
    <div class="space">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="space">
      <label for="post-blog_body" class="content">Content: </label>
      <input id="post-blog_body" name="post-blog_body" />
    </div>
    <button type="submit" class="btn"> Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>