<form class="login-form">
  <div class="space">
    <label for="email-login" class="email">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="space">
    <label for="password-login" class="password">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div class="space">
    <button type="submit" class="btn">Sign In</button>
  </div>
</form>

<script src="/javascript/login.js"></script>