<form class="signup-form">
  <div class="space">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="space">
    <label for="email-signup" class="email">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="space">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  
  <div class="space">
    <button type="submit" class="btn">Signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>